<% provide(:title, 'About Us') %>
<div class="row">
  <div class="col-md-7 col-md-offset-2">
    <h2>About Us</h2>
    <p>Find me in app/views/static_pages/about.html.erb</p>

    <p>Lorem ipsum dolor sit amet, sit an legimus petentium, ex vidit iudicabit efficiendi vix, etiam veritus ne usu. Putent possit inciderint nec no. Ei sit homero facete phaedrum, ex illud justo cotidieque vis. Ei quo legere sententiae, ad sit vitae oportere. Ei his brute nihil. Mea te unum vivendum. Usu ex tantas laoreet interesset, vocent scripta eos no, ea mei oratio munere aperiri.</p>

    <p>Vel vocibus torquatos eu, at sea minim viderer. Vel eu novum animal, est an dicam consul. Accusata deseruisse no pri, ferri fugit mucius ut cum. Option detracto iudicabit cu vis. Nostro postulant adolescens at sit.</p>

    <p>Ei eum graeci accumsan constituto. Ne ius fastidii imperdiet assueverit, eius partem singulis mel id. Ius elitr option eu, iriure appetere vis ut. Et mei mucius commodo explicari, vis dolorem civibus sententiae an.</p>

    <p>Atqui ocurreret reprimique cu mei, eam eu case volutpat maluisset, an sint eros quo. Ius homero detraxit phaedrum an. Sed modus prodesset ad, ne eam alii exerci detracto. Iudico voluptua mnesarchum ut vel, fuisset vivendum vel an. Mei mutat quando lobortis eu, reque corpora complectitur cu mei, ei his fuisset contentiones. Pri an meliore consequat, sit enim saepe in, eam mediocrem referrentur ex.</p>

    <p>Sed quidam possit et, dolor perpetua in sed. Eu habeo impedit mea. Ex qui nibh latine, pro esse intellegat at. Mea ludus vidisse ea, ius facilisi sapientem ex. In phaedrum sapientem est. Ea aperiam feugait nominavi qui, iisque scripta definitiones vix ut, vix erant omnes viderer et.</p>
  </div>
</div>
