<section>
  <div class ="dharmacenter">
    <div class = "dharmacenter-bkgd">
      <div class = "dharmacenter-overlay"></div>
    </div>
    <div class = "container">
      <h2 class="featurette-heading">A dharma center on Capital Hill. 
                                    <span class="text-muted">All are welcome.</span></h2>
      <p class="lead">A short walk from the Potomac Ave. Metro, we hold regular meditation and sadhana practice as well as a monthly Introduction to Tibetan Buddhism on the first Thursday. Visitors are encouraged and instructions are always provided.  <%= link_to 'Learn More &raquo;'.html_safe, about_path %></p>
    </div>
  </div>
</section>

