<section class = "practice">
<div class = "container">
  <h2 class="text-center text-muted">Our Practices</h2>
  <div class="row practices">
    <div class = "col-md-8 col-md-offset-2">
      <div class="col-xs-4">
        <h4 class="text-center">Sunday</h4>
        <%= image_tag "med_buddha.png", :size => "150", :class => "featurette-image img-responsive img-circle"  %>

        <p class = "small text-center">Medicine Buddha and Amitabha</p>
        <p class = "small text-center">From 10 til 1 pm at the Dharma Center</p>
      </div><!-- /.col-xs-4 -->
      <div class="col-xs-4">
        <h4 class="text-center">Thursday</h4>

        <%= image_tag "mani.png", :size => "150", :class => "featurette-image img-responsive img-circle"  %>

        <p class = "small text-center">Chenrezig</p>
        <p class = "small text-center">From 7 til 8:30pm at the Dharma Center</p>
      </div><!-- /.col-xs-4 -->
      <div class="col-xs-4">
        <h4 class="text-center">Saturday</h4>  
               
        <%= image_tag "meditation.png", :size => "150", :class => "featurette-image img-responsive" %>

        <p class = "small text-center">Morning Mindfulness</p>
        <p class = "small text-center">From 10 til Noon at the Capitol Hill Presbyterian Church</p>
      </div><!-- /.col-xs-4 -->
    </div>
  </div><!-- /.row -->
</div>
</section>