<section>
  <div class ="dharmacenter">
    <div class = "dharmacenter-bkgd">
      <div class = "dharmacenter-overlay"></div>
    </div>
    <div class = "container">
      <h2 class="featurette-heading">A dharma center on Capital Hill. 
                                    <span class="text-muted">All are welcome.</span></h2>
      <p class="lead">A short walk from the Potomac Ave. Metro, we hold regular meditation and sadhana practice as well as a monthly Introduction to Tibetan Buddhism on the first Thursday. Visitors are encouraged and instructions are always provided.  <%= link_to 'Learn More &raquo;'.html_safe, about_path %></p>
    </div>
  </div>
</section>

<section class = "practice">
<div class = "container">
  <div class="row practices">
    <div class = "col-md-8 col-md-offset-2">
      <div class="col-xs-4">
        <h4 class="text-center">Sunday</h4>
        <%= image_tag "med_buddha.png", :size => "150", :class => "featurette-image img-responsive img-circle"  %>

        <p class = "small text-center">Medicine Buddha and Amitabha</p>
      </div><!-- /.col-xs-4 -->
      <div class="col-xs-4">
        <h4 class="text-center">Thursday</h4>

        <%= image_tag "mani.png", :size => "150", :class => "featurette-image img-responsive img-circle"  %>

        <p class = "small text-center">Chenrezig</p>
      </div><!-- /.col-xs-4 -->
      <div class="col-xs-4">
        <h4 class="text-center">Saturday</h4>  
               
        <%= image_tag "meditation.png", :size => "150", :class => "featurette-image img-responsive" %>

        <p class = "small text-center">Morning Mindfulness</p>
      </div><!-- /.col-xs-4 -->
    </div>
  </div><!-- /.row -->
</div>
</section>