<% provide(:title, 'Welcome') %>
      <%= render 'welcome/center' %>
      <%= render 'welcome/teacher' %>
      <%= render 'welcome/dharma' %>

<div class = "container">
<div class="row">
      <h2 class="text-center">July Schedule</h2>
  <div class="col-md-8 col-md-offset-3">
<!--     <%# @articles.each do |article| %>
      <h2><%#= article.title %></h2>
      <%#= simple_format(article.text.html_safe) %> 
    <%# end %> -->

    <table>
    <thead>
      <tr>
        <td colspan="2">
          <h3>Special Events</h3>
        </td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><h4>July 26</h4></td>
        <td><b>Lama Norlha Rinpoche leds meditation and performs Green Tara Empowerment</b></td>
      </tr>
      <tr><td colspan="2"><p class = "lead">We are very excited to have Lama Chodron to begin monthly teachings!</p></td>
      </tr>
      <tr>
        <td><h4>Save the Date!</h4></td>
      </tr>
      <tr>
        <td><h4>Aug. 3</h4></td>
        <td><b>Visit to the Lotus and Water Lily Gardens  - Children Welcome!</b></td>
      </tr>
      <tr>
        <td colspan="2">
          <h3>Introduction to Tibetan Buddhism</h3>
        </td>
      </tr>
      <tr>
        <td colspan="2"><h4>Thursday, July 3, 7 - 8:30PM, with Lama Chödron</h4></td>
      </tr>
      <tr>
        <td colspan="2">
          <h3>Weekly Pratice</h3>
        </td>
      </tr>
      <tr>
        <td colspan="2"><h4>Sunday, 10 - 1PM</h4></td>
      </tr>
      <tr>
        <td>July 6</td>
        <td><b>Meditation, Medicine Buddha, Amitabha and Short Chod</b></td>
      </tr>
      <tr>
        <td>July 13, 20, 27</td>
        <td><b>Meditation, Medicine Buddha and Amitabha</b></td>
      </tr>
      <tr>
        <td colspan="2"><h4>Thursday, 7-8:30PM</h4></td> 
      </tr>
      <tr>
        <td colspan="2"><b>Chenrezig, the Boddhisattva of Compassion</b></td>
      </tr>
      <tr>
        <td colspan="2"><h4>Saturday, 10-12PM</h4></td>
      </tr>
      <tr>
        <td colspan="2"><b>Morning Mindfulness,  held at the Capital Hill Presbyterian Church 400 Independence Ave. SE</b></td>
      </tr>
    </tbody>
    </table>

  </div>
</div>
</div>

