/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import url("http://fonts.googleapis.com/css?family=Dosis|Open+Sans:400,300");

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
/* End Sticky footer styles 
-------------------------------------------------- */

/* Floating Menu styles
-------------------------------------------------- */
#fadeMenu {
  display: none;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 99999;
}
/* End Floating Menu styles
-------------------------------------------------- */
h1,h2,h3,h4,h5,h6{
  font-family: 'Dosis', Helvetica, Arial, sans-serif;
}

p {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 18px;
}

header {
  margin-top: 25px;

    h1, img, p {
      margin: 0 auto;
    }
    h1{
      padding-bottom: 5px;
    }
}

.practices {
  text-align: center;
  img{
    margin: 0 auto;
  }
}

/* Footer */
#footer {
  padding-top: 5px;
}
/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

input, textarea, select, .uneditable-input {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

label {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .has-error;
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}