<section>
  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">A dharma center on Capital Hill. <span class="text-muted">All are welcome.</span></h2>
      <p class="lead">We have regular meditation & chanting weekly as well as visiting teachers and scholars and an ongoing lecture series.</p>
    </div>
    <div class="col-md-5">
      <%= image_tag "rinpoche-lamarod.jpg", :size => "400", :class => "featurette-image img-responsive"  %>
    </div>
  </div>

  <hr class="featurette-divider">
</section>

