<li><%= link_to "Our Teachers", about_path(anchor: "teachers") %></li>
<li><%= link_to "Weekly Practice", root_path(anchor: "practice") %></li>
<li><%= link_to "Dharma Center", about_path(anchor: "center") %>
<li><%= link_to "Kagyu Lineage", about_path(anchor: "lineage") %></li>